.cntr {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.rame {
  color: black;
  margin-top: 200px;
}
.donate-page {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
}

.donate-box {
  background: white;
  width: 380px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.donate-image {
  width: 100%;
  border-radius: 12px;
  margin: 10px 0 15px;
}

.donate-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1.7px solid #ccc;
  margin-top: 10px;
  font-size: 16px;
}

.donate-submit {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #00c853;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.donate-submit:hover {
  background-color: #009624;
}

.donate-label {
  font-size: 16px;
  margin-bottom: 8px;
}
