body {
    color: black;
}
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.profile-info {
  text-align: center;
}

.profile-pic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.upload-btn {
  display: inline-block;
  background-color: #0c9102;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.balance {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}
