.sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f5f5f5; 
    margin: 0;
}


.container {
    width: 400px;
    padding: 30px 20px;
    box-shadow: 11px 13px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    background-color: white; 
}


.inp1 {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

/* Button */
.btn2 {
    width: 100%;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.btn2:hover {
    background-color: #1c8247;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.4);
}

.sign {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
